<%- include('partials/head') %>

    <h1>Extract URLS to Downloads</h1>

    <div class="px-4 my-4" style="width: 500px;">
        <input class="form-control my-3" type="text" placeholder="Enter URL to download Video or Image" name=""
            id="url">
        <button id="btn" class="btn btn-primary">Extract</button>

    </div>
    <!-- <p>
        <%= message %>

    </p> -->
    <% files.forEach(video=> { %>
        <video controls>
            <source src="/<%= video %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <% }); %>

            <% if(path !=="/url-extractions" ) {%>
                <%- include('partials/footer') %>
                    <% } %>


                        <script>


                            document.getElementById("btn").addEventListener("click", function (e) {
                                e.preventDefault();
                                console.log(1234);

                                const params = {
                                    siteURL: document.getElementById("url").value,
                                }

                                fetch("/extract", {
                                    method: "POST",
                                    headers: {
                                        'Content-Type': "application/json",
                                    },
                                    body: JSON.stringify(params),

                                })
                                    .then(res => res.json())
                                    .then(data => {
                                        if (data.status === 200) {
                                            alert("Extracted Video Successfully");
                                        }
                                    })
                                    .catch(err => console.log(err))
                                    .finally(() => console.log("Aah! Finally completed the operation"))

                                console.log("Some");
                            })

                        </script>


                        <%- include('partials/end') %>